body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
.name{
    color: orange;
}


section{
    display: flex;
}
#banner{
    background: url(../images/top-banner.png) no-repeat;
    margin-bottom: 150px;
}
.side-part{
    width: 50%;
    margin-top: 5px;
    padding-left: 5%;
}
#banner p{
    padding-right: 190px;
    padding-bottom: 15px;
}
.link-button{
    text-decoration: none;
    color: #fff;
    background-image: linear-gradient(orange, red);
    padding: 10px 35px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
#banner img{
    width: 80%;
}

#dream-big{
    background-image: url(../images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
